.home{
    background-image: url(../images/The_Neighborhood_\(TV_series\)_Title_Card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.6;
    height: 700px;
}
.footer{
    text-align: center;
}
#heading{
    font-size: 50px;
    font-weight: 400px;
}