{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
{{block.super}}
{% include 'navbar.html' %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="home">
            <img src="{{ neighbourhood.neighbourhood_image.url }}" alt="neighbourhood"
                style="width:100%; height: 600px;">
            <h1 class="centered" id="heading">Welcome to the {{neighbourhood.neighbourhood_name}} hood</h1>
            <br>
            <small class="centered"
                style="font-size: large;"><strong>By:</strong>{{neighbourhood.neighbourhood_location}}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center" style="font-family: 'Bangers', cursive;">Health Facilities for
                {{neighbourhood.neighbourhood_name}} hood</h1>

            {% for health in health %}
            <div class="card" style="width: 18rem;">
                <img src="{{health.facility_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{health.facility_name}}</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="col-md-8">
            <h1 class="text-center" style="font-family: 'Bangers', cursive;">Authorities at
                {{neighbourhood.neighbourhood_name}} hood</h1>

            {% for authority in authority %}
            <div class="card" style="width: 18rem;">
                <img src="{{health.authority_image.url}}" class="card-img-top img-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{health.authority_name}}</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}