{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
{{block.super}}
{% include 'navbar.html' %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="home">
            <img src="{{ neighbourhood.neighbourhood_image.url }}" alt="neighbourhood"
                style="width:100%; height: 600px;">
            <h1 class="centered" id="heading">Welcome to the {{neighbourhood.neighbourhood_name}} hood</h1>
            <br>
            <small class="centered"
                style="font-size: large;"><strong>By:</strong>{{neighbourhood.neighbourhood_location}}</small>
                <div class="bottom-left"><a href="{% url 'new_post' %}" class="btn btn-success"> <span class="glyphicon glyphicon-upload">Add post</span></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center" style="font-family: 'Bangers', cursive;">Health Facilities for
                {{neighbourhood.neighbourhood_name}} hood</h1>

            {% for health in health %}
            <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="thumbnail">
                    <img src="{{health.facility_image.url}}" alt="..." style="height: 500px;">
                    <div class="caption">
                      <small><h3><strong>Facilityname</strong>{{health.facility_name}}</h3></small>
                      <h3><strong>Facility location:</strong>{{health.facility_location}}</h3>
                      
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
        </div>
        <div class="col-md-6">
            <h1 class="text-center" style="font-family: 'Bangers', cursive;">Authorities at{{neighbourhood.neighbourhood_name}} hood</h1>

            {% for authority in authority %}
            <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="thumbnail">
                    <img src="{{authority.authority_image.url}}" alt="..." style="height: 500px;">
                    <div class="caption">
                      <small><h3><strong>Authority:</strong>{{authority.authority_name}}</h3></small>
                      <h3><strong>Authority location:</strong>{{authority.authority_location}}</h3>
                      
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}