{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
{{block.super}}
{% include 'navbar.html' %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}
<div class="container-fluid">
    <div class="jumbotron" id="profile">
        <div class="col-md-4">
            <img src="{{user.profile.profile_pic.url}}" class="img-thumbnail" alt="pic">
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-2"></div>
    </div>

</div>


  
{% endblock %}

